.About {
  width: $mobile-width;
  margin: 0 auto;

  h2 {
    text-align: center;
    color: black;
  }
  p {
    color: black;
  }

  &__services {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    &__tile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      padding: 1rem;
      h4 {
        font-size: 1.2rem;
      }
      .fas,
      .far {
        font-size: 7rem;
        color: $yellow;
      }
    }
  }

  &__signup {
    height: 45vh;
    border-radius: 1rem;
    margin: 0 0 2rem 0;
    background: linear-gradient(rgba($black, 0.75), rgba($black, 0.85)),
      url("../images/kara2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2,
    h4,
    a {
      color: $white;
    }

    h2 {
      text-align: center;
    }
  }
}

@media (min-width: 767px) {
  .About {
    width: 50vw;
    &__signup {
      height: 20vh;
    }
  }
}
