.Home {
  width: $default-width;
  color: $black2;
  margin: 0 auto;
  &__hero {
    height: 40vh;

    background: url("../images/serhat2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    color: $white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1,
    h3 {
      color: $white;
      margin: 0;
    }
    h1 {
      font-size: 3rem;
    }
    h3 {
      font-size: 1.5rem;
    }
    p {
      a {
        color: $yellow;
        font-weight: bolder;
        text-decoration: none;
      }
    }
  }
  &__container {
    width: 80%;
    margin: 0 auto;
    &__section1 {
      h2 {
        text-align: center;
      }
      &__box {
        display: flex;
      }
    }
    &__section2 {
      h2,
      h4,
      a {
        color: $white;
      }

      &__signup {
        height: 20vh;

        border-radius: 1rem;
        text-align: center;
        margin: 0 0 7rem 0;
        padding: 1rem;

        background: linear-gradient(rgba($black, 0.75), rgba($black, 0.85)),
          url("../images/kara2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      &__started {
        height: 20vh;
        margin: 0 0 5rem 0;
        border-radius: 1rem;
        text-align: center;
        padding: 1rem;

        background: linear-gradient(rgba($black, 0.75), rgba($black, 0.85)),
          url("../images/sidekix2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
      }
    }
  }
  &__socials {
    width: 100%;
    height: 25vh;
    margin: 0 auto;
    padding: 3rem;
    color: $white;

    background: url("../images/serhat2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    text-align: center;

    h2 {
      color: $white;
    }

    div {
      span {
        margin: 0 0.5rem 0 0;
        font-size: 1.5rem;
      }
    }
  }
}
