@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400&family=Varela&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

@import "variables";
@import "mixins";
@import "nav";
@import "home";
@import "footer";

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font-stack;
  line-height: 1.4;
  margin: 0;
  background-color: $white;
}

header {
}

main {
}

footer {
}

h1,
h2,
h3,
h4,
h5 {
  color: $black2;
}

button,
.button {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  cursor: pointer;
  border-radius: 0.5em;
  text-decoration: none;
  text-align: center;
  font-size: 1.1rem;
  font-family: inherit;
  color: $black;
  @include button($yellow);
}
